/* ------------------------BODY------------------------- */
h1 {
    font-family:'Questrial', sans-serif;
    font-weight: 1000;
    font-size: 40px;
}

h3{
    font-family:'roboto mono', sans-serif;
}


/* -------------------------HEADING--------------------- */
#logo { 
    display:inline-block; 
    height:100px;
} 

#heading {
    display:inline-block;
    margin-right:10px;
}


header{
    display:flex;
    margin-left: 25px;
}